/* exercise 3 */
/* #container {
    
    width: 400px;
    height: 50px;
    display: inline-block;
    position: relative;
    box-shadow: 10px 10px 8px #888888;
}
/*how do I get this farther from top?*/
/* 
.box {
    height: 30px;
    width: 30px;
    
    border-style: solid;
    border-color: black;
    position: relative;
    padding: 29px;
    margin: 1px; */

/* } */

